.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.DS_Store
./manuscript/docs/*
manuscript/docs
./manuscript/svg-inkscape/*
manuscript/svg-inkscape
manuscript/.Rbuildignore
manuscript/_main.log
manuscript/_main.log
manuscript/_main.Rmd
manuscript/_main.log
